<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{else}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>
			{{/if}}
			<p class="description">{{{@blog.description}}}</p>
            		<section id="sidebar-content">
			  <div class="separator"></div>
              			{{navigation}}
            		</section>
            		<section id="sidebar-footer" class="sidebar-footer">
              		  <div class="separator"></div>
              		  <div class="glyphs">
                          	<a href="https://twitter.com/<EDITIT>" target="_blank"> <i class="step icon-twitter size-16"></i> </a>
                          	<a href="https://plus.google.com/1<EDITIT>/posts" target="_blank"><i class="step icon-googleplus size-16"></i> </a>
                          	<a href="https://github.com/<EDITIT>" alt="Github" target="_blank"><i class="step icon-github size-16"></i> </a>
                          	<a href="https://de.linkedin.com/in/<EDITIT>" target="_blank"><i class="step icon-linkedin size-16"></i> </a>
                          	<a href="mailto:<EDITIT>" target="_blank"><i class="step icon-email size-16"></i> </a>
                          	<a href="/rss" target="_blank"><i class="step icon-rss size-16"></i> </a>
              		  </div>
                        </section>
		</header>
</div>
