{{!< default}}

{{#post}}
<main class="content" role="main">
    <div class="wrapper">
        <div class="post">
            <article id="{{id}}" class="{{post_class}}">
                {{#if image}}
                    <figure class="cover_post">
                        <img src="{{image}}" alt="{{{title}}}">
                    </figure>
                {{/if}}
                <div class="avatar_title">
                    <h1 class="title">
                        <a href="{{url}}">{{{title}}}</a>
                    </h1>
                </div>
                <section>
                        {{content}}
                </section>
            </article>
        </div>
    </div>
</main>
{{/post}}
