{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}

<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
       {{#if @blog.logo}}<a  href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{else}}
            <h1 class="page-title">{{@blog.title}}</h1>
       {{/if}}
        </div>
        </div>
</header>
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
            {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image"  />{{/if}}
               {{#author}} {{name}} {{/author}}
               <span class="post-category"> {{tags prefix=""}}</span>
               <span class="post-category" >{{date format="DD.MM.YYYY"}}</span>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
</aside>

{{/post}}
