<ul class="nav main-nav collapse navbar-collapse">
	<!-- Begin menu item 1-->
	<li class="active">
		<!-- Keep href="{{@blog.url}}" for home page-->
		<a href="{{@blog.url}}">
			Home <!-- Change text of menu here-->
		</a>
	</li>
	<!-- End menu item 1-->
	<!-- Begin menu item 2-->
	<li>
		<!--
            1.  Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/
                Example: {{@blog.url}}/about-us/
        -->
		<a href="{{@blog.url}}/about-me/">
			About Me <!-- Change text of menu here-->
		</a>
	</li>
	<!-- End menu item 2-->
	<!-- Begin menu item 3-->
{{!-- 	<li>
		<!--
            1.  Change href: {{@blog.url}}/YOUR_STATIC_PAGE_URL_FROM_STEP_1/
                Example: {{@blog.url}}/get-in-touch/
        -->
		<a href="#">
			Get In Touch <!-- Change text of menu here-->
		</a>
	</li>
 --}}	<!-- End menu item 3-->
</ul>