{{!< default}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript' src='/assets/js/moment.min.js'></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script type="text/javascript">
//<![CDATA[

/**
* Loads map and calls function to load in worksheet data.
*/
function loadMap() {
  getHomeJSON();
  getLocationJSON();
}

function loadNewLocationMap(json) {

  var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(39.108659, -94.580331)
  }
  var map = new google.maps.Map(document.getElementById('locationMap'), mapOptions);

  for (var i = 0; i < json.length; i++) {
    var entry = json[i];
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(parseFloat(entry.location[0]),parseFloat(entry.location[1])),
        map: map,
        title: entry.description + " - " + moment(entry.date).format("MMM Do YYYY")
    });
  }

}

/**
* Calls appery db and fetches places data
*/
function getLocationJSON() {

  $.ajax({
    url: 'https://api.appery.io/rest/1/db/collections/locations?limit=1500',
    type: 'GET',
    headers: {"X-Appery-Database-Id": "537492bfe4b0d2288dcd4e87"},
    success: function(data, textStatus) {
      loadNewLocationMap(data);
    },
    error: function(textStatus, errorThrown) {
      console.log('Error');
    }
  });

}

/**
* Calls appery db and fetches 'home' data
*/
function getHomeJSON() {

  $.ajax({
    url: 'https://api.appery.io/rest/1/db/collections/home?sort=-_createdAt',
    type: 'GET',
    headers: {"X-Appery-Database-Id": "537492bfe4b0d2288dcd4e87"},
    success: function(data, textStatus) {
      for (i=0; i<data.length; i++) {
        $("#homeLocations").append('<li>' + data[i].name + ' - ' + moment(data[i].date).format("MMMM Do YYYY"));
        }
      },
      error: function(textStatus, errorThrown) {
        console.log('Error');
      }
    });

  }

  setTimeout('loadMap()', 500);

  //]]>

</script>
{{#post}}
<main class="body-content" role="main">
  <section class="{{post_class}} {{#if tags}}has-sub-meta{{else}}{{#if featured}}has-sub-meta{{/if}}{{/if}}">
    <div class="post-header {{#if image}}has-background{{/if}}" {{#if image}}style="background-image: url({{image}})"{{/if}}>
      <div class="header-wrap">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <div class="post-meta">{{author.name}} / {{date published_at timeago="true"}}</div>
        <div class="line"></div>
        {{#if tags}}
        <div class="post-meta">
          <i class="fa fa-tags"></i>{{#if featured}} Featured{{/if}} on {{tags separator=", "}}
        </div>
        {{else}}
        {{#if featured}}
        <div class="post-meta">
          <i class="fa fa-star"></i> Featured
        </div>
        {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="post-content">
      {{content}}

      <div id="locationMap" style="width:100%; height:400px;margin-top:25px;"></div>

      <div style="margin-bottom:25px;font-size:small">Hover over the map markers for more information.</div>

      <p style="margin-bottom: 10px">These are some of the places that we've called "home":</p>

      <ul id="homeLocations"></ul>

    </div>
  </section>
</main>
{{/post}}
