{{!< default}}
{{#post}}
<section id="intro" class="sub{{#if image}} covered{{/if}}" {{#if image}}style="background-image: url({{image}})"{{/if}}>
    <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{{title}}}</h1>
                <p>
                    {{excerpt}}
                </p>
            </div>
        </div>
    </div>
</section>
<main class="body-content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="post-wrap">
                    <article class="{{post_class}}">
                        <section class="post-content">
                            {{content}}
                        </section>
                    </article>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="widget-wrap">
                    {{> sidebars}}
                </div>
            </div>
        </div>
    </div>
</main>
{{/post}}