<!-- Navigation here -->
<div class="site-navigation">
	<h4 class="navigation-title-text">Navigation</h4>
		
	<nav class="sitenav-main" id="nav" role="navigation">

		<!-- Add navigation here -->
		
		<ul id="menu-main">			
			<li><a href="{{@blog.url}}/"><i class="fa fa-file-text-o fa-lg"></i> Tous les articles</a></li>
		</ul>	
		
		<ul id="menu-main">
			<li><a href="{{@blog.url}}/qui-est-pascal-andy"><i class="fa fa-smile-o fa-lg"></i> À mon sujet</a></li>
		</ul>	
		
		<ul id="menu-main">
			<li><a href="{{@blog.url}}/tag/musique/"><i class="fa fa-music fa-lg"></i> Musique</a></li>
		</ul>
		
		<ul id="menu-main">
			<li><a href="{{@blog.url}}/rechercher/"><i class="fa fa-search fa-lg"></i> Rechercher</a></li>
		</ul>
		
		<ul id="menu-main">
			<li><a href="{{@blog.url}}/rester-en-contact/"><i class="fa fa-beer fa-lg"></i> Contact</a></li>
		</ul>

		<ul id="menu-main">
			<li><a href="{{@blog.url}}/rester-en-contact/"><i class="fa fa-paper-plane-o fa-lg"></i> Souscrire au blog</a></li>
		</ul>
		
		<ul id="menu-main">
			<li><a href="https://pascalandy.com/"><i class="fa fa-home fa-lg"></i> Revenir sur pascalandy.com</a></li>
		</ul>
	</nav>
</div>
