{{!< default}}
<header id="site-head" {{#if project.image}}style="background-image: url('{{project.image}}')"{{/if}}>
  <div class='underlay'>
    {{> links}}
    <div class="cf"></div>
    <div id="title">
      <h1>{{project.name}}</h1>
      <h2>{{project.description}}</h2>
    </div>
  </div>
</header>
<div class="container" id="content" role="main">
  <div class='row'>
    <div class='project-details columns medium-4'>
      <h2>{{project.name}} <span class='version'>v{{project.version}}</span></h2>
      <a href="{{project.github}}">View the project on GitHub <small>aexmachina/{{project.name}}</small></a><br>
      {{#if project.demo}}
        <div><a class='button' href='{{project.demo}}' target='_blank'>Launch demo</a></div>
      {{/if}}
      {{#if project.travis}}
        <a href="https://travis-ci.org/aexmachina/{{project.name}}">
          <img src="https://travis-ci.org/aexmachina/{{project.name}}.png" alt="Build Status" title="" />
        </a>
      {{/if}}
    </div>
    <div class='columns medium-8'>
      {{{body}}}
    </div>
  </div>
</div>
