<div class="extra-pagination inner">
</div>

{{#foreach posts}}
{{#if @first}}
  <article class="{{post_class}}">
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
              {{#if author.image}}
                <img class="author-thumb" src="{{author.image}}" alt="Author image" />
              {{/if}}
              {{#author}} {{name}} {{/author}} |
              <time datetime="{{date format='DD.MM.YYYY'}}">{{date format="DD.MM.YYYY"}}</time>
              {{#if tags}} | {{tags}}{{/if}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>
    </article>
{{else}}
  <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <section class="post-meta">
            {{#if author.image}}
              <img class="author-thumb" src="{{author.image}}" alt="Author image" />
            {{/if}} {{#author}} {{name}} {{/author}} |
            <time datetime="{{date format='DD.MM.YYYY'}}">{{date format="DD.MM.YYYY"}}</time>
            {{#if tags}} | {{tags}}{{/if}}
        </section>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="200"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
    </footer>
</article>
{{/if}}
{{/foreach}}
{{pagination}}
