{{!-- need to be included in context of a post --}}
<div class="row">
    <div class="small-12 columns">
        <h1 class="comments-header">Vielleicht auch interessant:</h1>
        <div class="js-prev-next-post prev-next-post" data-equalizer>
            {{#prev_post}}
                <div class="prev-block {{^next_post}}full-width{{/next_post}}" style="background-image: url({{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}});" data-equalizer-watch>
                    <a href="{{url}}" class="prev-next-block-link">
                        <section class="description">
                            <span class="prev-next-label">Vorheriger Beitrag</span>
                            <span class="post-title">{{title}}</span>
                        </section>
                    </a>
                </div>
            {{else}}
                <div class="prev-block" style="background-image: url({{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}});" data-equalizer-watch>
                    <span class="prev-prev-block-link">
                        <section class="description">
                            <span class="prev-next-label">Vorheriger Beitrag</span>
                            <span class="post-title">Keine weiteren Beitr채ge</span>
                        </section>
                    </span>
                </div>
            {{/prev_post}}
            {{#next_post}}
                <div class="next-block {{^prev_post}}full-width{{/prev_post}}" style="background-image: url({{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}});" data-equalizer-watch>
                    <a href="{{url}}" class="prev-next-block-link">
                        <section class="description">
                            <span class="prev-next-label">N채chster Beitrag</span>
                            <span class="post-title">{{title}}</span>
                        </section>
                    </a>
                </div>
            {{else}}
                <div class="next-block" style="background-image: url({{#if image}}{{image}}{{else}}{{@blog.cover}}{{/if}});" data-equalizer-watch>
                    <span class="prev-next-block-link">
                        <section class="description">
                            <span class="prev-next-label">N채chster Beitrag</span>
                            <span class="post-title">Keine weiteren Beitr채ge</span>
                        </section>
                    </span>
                </div>
            {{/next_post}}
            <div class="clearfix"></div>
        </div>
    </div>
</div>