<link rel="stylesheet" type="text/css" href="{{asset "css/_side_nav.css"}}" />
<div class="outer-outer" draggable="true" id="dragme">
    <div class="breadcrumbs">
        <ul>
            <li>MyBlog ></li>
            <li>articles ></li>
            <li>intro ></li>
        </ul>
    </div>

    <div id="container-outer">
        <div class="container-inner">
            <div class="sidebar">
                <ul>
                    <li class="folder right-arrow">myBlog</li>
                    <li class="folder right-arrow"><span href="#">articles</span></li>
                    <li class="folder right-arrow">intro
                        <ul class="folder-items">
                            <li class="folder right-arrow">js</li>
                            <li class="folder right-arrow">css</li>
                            <li class="folder right-arrow">html</li>
                        </ul>
                    </li>
                </ul>
                <!---->
            </div>

            <div class="editor-view left" id="style-text">
            </div>
            <div class="editor-view right"></div>
        </div>

    </div>
</div>

<!--{{!< default}}-->

<!--{{! This is a page template. A page outputs content just like any other post, and has all the same-->
    <!--attributes by default, but you can also customise it to behave differently if you prefer. }}-->

<!--{{! Everything inside the #post tags pulls data from the page }}-->
        <!--{{#post}}-->
<!--<script src="https://cdn.jsdelivr.net/vivus/0.3.0/vivus.min.js"></script>-->
<!--&lt;!&ndash;integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>&ndash;&gt;-->
<!--<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">-->
<!--<nav class="main-nav {{#if image}}overlay{{/if}} clearfix">-->
        <!--{{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}"-->
        <!--alt="{{@blog.title}}"/></a>{{/if}}-->
        <!--{{#if @blog.navigation}}-->
<!--<a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>-->
        <!--{{/if}}-->
<!--</nav>-->
<!--</header>-->

<!--<main class="content" role="main">-->
<!---->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="../assets/js/editor.js"></script>


<!--<div class="scroll-background animated slideInUp">-->
<!--&lt;!&ndash;<img src="/Users/garrettboone/Documents/IMG_1239.jpg"></img>&ndash;&gt;-->
<!--<article class="{{post_class}}">-->

<!--<header class="post-header">-->
<!--<h1 class="post-title"></h1>-->
<!--</header>-->

<!--<section class="post-content">-->
<!--</section>-->
<!--</article>-->
<!--</div>-->

<!--&lt;!&ndash;<div class="scroll-background-2">&ndash;&gt;-->
<!--&lt;!&ndash;<article class="{{post_class}}">&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;<header class="post-header">&ndash;&gt;-->
<!--&lt;!&ndash;<h1 class="post-title" style="text-align: center">Abilities</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</header>&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;<section class="post-content">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tool-box">Node JS</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tool-box">Angular</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tool-box">Ruby</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tool-box">Rails</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tool-box">SQL, Mongodb</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tool-box">Design and Development</div>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;<div style="clear:both;"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</article>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</main>-->
        <!--{{/post}}-->
