<nav class="navbar navbar-custom" role="navigation">
    <div class="container">
    	{{! Begin Header }}
        <div class="navbar-header">
        	{{! Begin Logo }}
            <a class="navbar-brand" href="{{@blog.url}}">
				{{#if @blog.logo}}
				<img src="{{@blog.logo}}" alt="{{@blog.title}}" title="{{@blog.title}}"/>
				{{else}}
				{{@blog.title}}
				{{/if}}
			</a>
			{{! End Logo }}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span>Navigation</span> <i class="fa fa-tasks"></i>
            </button>
        </div>
        {{! End Header }}
        {{! Begin Social }}
        <div class="social-top">
            <ul class="social">
                <li class="twitter">
                    <a href="https://twitter.com/bit_jammer" target="_blank" title="Twitter"> <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="facebook">
                    <a href="https://www.facebook.com/francisco.calle.moreno.77" target="_blank" title="Facebook"> <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="google">
                    <a href="https://plus.google.com/+FranciscoCalleMoreno" target="_blank" title="Google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li class="tumblr">
                    <a href="http://bitjammer.tumblr.com/" target="_blank" title="Tumblr">
                        <i class="fa fa-tumblr"></i>
                    </a>
                </li>
                <li class="linkedin">
                    <a href="http://www.linkedin.com/in/fcallem77" target="_blank" title="Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="skype">
                    <a href="skype:bit_jammer" target="_blank" title="Skype">
                        <i class="fa fa-skype"></i>
                    </a>
                </li>
                <li class="rss">
                    <a href="/rss/" target="_blank" title="Rss Feed">
                        <i class="fa fa-rss"></i>
                    </a>
                </li>
            </ul>
        </div>
        {{! End Social }}
        {{>nav}}
    </div>
</nav>
