<style media="screen">
	nav {
		float: right;
		font-size: 24px!important;
	}

	nav ul.nav li {
		padding: 0em 0.4em;
	}

</style>
<header>
	<div class="wrapper">

		<div id="logo">
			{{#if @blog.logo}}<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
			{{else}}<a href="{{@blog.url}}">{{@blog.title}}</a>
			{{/if}}
		</div>
		<nav>
			<ul class="nav">
				<li class="nav-twitter">
					<a class="icons--icon icon" target="_blank" href="https://twitter.com/jhchill666" title="twitter" >
						<i class="fa fa fa-twitter-square"></i>
					</a>
				</li>
				<li class="nav-linkedin">
					<a class="icons--icon icon" target="_blank" href="https://uk.linkedin.com/in/tiltdigital" title="linked" >
						<i class="fa fa-linkedin-square"></i>
					</a>
				</li>
				<li class="nav-github">
					<a class="icons--icon icon" href="https://github.com/jamiehill"  title="github" target="_blank">
						<i class="fa fa-github-square"></i>
					</a>
				</li>
			</ul>
		</nav>
		<div class="mobile_social">
			<h5>Follow me</h5>
			<div class="icons">
				{{> social }}
			</div>
		</div>
	</div>
</header>
