
<section class="nav" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="nav-inner">
        <div class="main-author">
            <a href="/"><img src="https://jeffdouglas.ghost.io/content/images/2014/May/jeffdouglas-mvpsummit.png"  /></a>
        </div>
        <h1 class="blog-title">{{@blog.title}}</h1>
        <p class="blog-description">{{@blog.description}}</p>
        
        <nav class="links links-page">
            <ul>
                <li><a href="{{@blog.url}}/about/">About Me</a></li>
                <li><a href="http://whereintheworldis.jeffdouglas.com" target="_blank">RV Trip</a></li>
            </ul>
        </nav>

        <p class="blog-bio">
        I'm a Senior Technical Consultant at <a href="http://www.appirio.com" style="color:white">Appirio</a> & Developer Evangelist Architect at <a href="http://www.topcoder.com" style="color:white">[topcoder]</a> specializing in cloud-based & mobile apps using Force.com, Node.js, Ruby, Angular & anything JavaScripty in general.
        </p>

        <nav class="links links-horizontal links-socials">
            <ul>
                <li><a href="http://www.github.com/jeffdonthemic"><span class="fa fa-github"></span></a></li>
                <li><a href="http://www.twitter.com/jeffdonthemic"><span class="fa fa-twitter"></span></a></li>
                <li><a href="http://www.facebook.com/jeffdonthemic"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://plus.google.com/u/0/109315949634428014996/posts"><span class="fa fa-google-plus"></span></a></li>
                <a href="{{@blog.url}}/rss/" title="Subscribe to RSS"><span class="fa fa-rss"></span></a>
            </ul>
        </nav>
    </div>
</section>
