{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The tag below includes the blog header - partials/header.hbs }}
{{> header}}

<main class="main-content" role="main">

  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}
    <section id="post">
      {{#if image }}
        <div class="article-img animated fadeIn">
          <a href="{{{url}}}" class="post-thumbnail">
            <img class="img-responsive" src="{{image}}" alt="{{title}}"/></a>
        </div>
      {{/if}}
      <div class="container">
        <div class="clearfix m-t-lg">
          <div class="col-md-8 col-md-offset-2">
            <article class="{{post_class}} animated slideInUp" role="article">

              <header class="article-header">
                {{#if featured}}
                  <span class="featured-post">&darr; Featured</span>
                {{/if}}

                <h1 class="post-title">{{title}}</h1>
                <ul class="list-unstyled list-inline">
                  <li>
                    <a href="/#about">
                      <div class="profile-pic-container m-t-lg">
                        <div class="img-responsive img-circle profile-pic center-block">
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <h5 class="h5"><a href="/#about"> Ralph Marston</a></h5>
                  </li>
                  <li>
                    <h6>
                      <time class="post-date"
                            datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
                    </h6>

                  </li>
                </ul>
              </header>
              <div class="article-details m-t-lg">
                {{content}}
              </div>
              <footer class="article-footer">
                {{> comments}}
              </footer>


              <div class="share-post">

                <ul class="list-unstyled list-inline">
                  <li> <span>Share this post:</span> </li>
                  <li>
                    <a class="social-btn" target="_blank"
                       href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}">
                      <span class="social_twitter_square text-info" aria-hidden="true"></span> Twitter</a>
                  </li>
                  <li>
                    <a class="social-btn" target="_blank" href="http://wwww.facebook.com/sharer.php?u={{url absolute="true"}}">
                      <span class="social_facebook_square text-primary" aria-hidden="true"></span> Facebook</a>

                  </li>
                  <li><a class="social-btn" target="_blank" href="http://plus.google.com/share?url={{url absolute="true"}}">
                    <span class="social_googleplus_square text-danger" aria-hidden="true"></span> Google+</a>
                  </li>
                </ul>

              </div>
              <!-- .share-post -->

            </article>
          </div>
        </div>
      </div>

      {{! Previous/next post links }}
      <div class="container text-center">
        <ul class="list-unstyled list-inline post-nav">
          <li class="go-back">
            {{#prev_post}}
              <span class="prev"><a href="{{url}}">&larr; Previous Post</a></span>
            {{/prev_post}}
          </li>

          <li class="go-back">

              <span><a href="/blog/">Recent Posts</a></span>

          </li>

          <li class="go-next">
            {{#next_post}}
              <span class="next"><a href="{{url}}">Next Post  &rarr;</a></span>
            {{/next_post}}
          </li>
        </ul>
      </div>

      <!-- .post-nav -->
    </section>
  {{/post}}

  {{! The tag below includes the theme comments - partials/comments.hbs }}

</main><!-- .main-content -->

{{! The tag below includes the theme footer - partials/footer.hbs }}
{{> footer}}
