<li><a href="{{@blog.url}}">Home</a></li>
<li><a href="{{@blog.url}}/map/">Map</a></li>
<li><a href="{{@blog.url}}/the-trip">Trip</a></li>
<li><a href="{{@blog.url}}/the-family">Family</a></li>
<li><a href="{{@blog.url}}/where-to-go">Destination?</a></li>
