{{!< default}}


{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<section class="main single-post">

	<article class="{{post_class}}" id="post-6">

		{{! Everything inside the #post tags pulls data from the post }}

		{{#post}}



			 	<div class="lead">

			 		<h1 class="entry-title post-title">{{{title}}}</h1>

				 		<ul class="meta top">

				 			<li class="time">

				 				<time class="post-date updated" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM D, YYYY"}}</time>

				 			</li>

				 		</ul>



						<div class="lead-image" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>




				</div>{{! close class="lead"}}




				<div class="z-wrap">

					<div class="wrapper">

						<div class="inner post-inner">

						<!-- Go to www.addthis.com/ custom Pascal -->
						<p><div class="addthis_native_toolbox"></div></p>
			            

			            {{content}}

						<br>
						<!-- Go to www.addthis.com/ SSL 2014-11-04_19h17 Pascal Custom -->
						<div class="addthis_sharing_toolbox"></div>


				            {{#if tags}}
								<p>
					            <div class="meta bottom">

						            <i class="fa fa-tags fa-lg"></i> Tag: {{tags separator=", "}}

					        	</div>
								</p>
				            {{/if}}





				            {{#if author}}

								{{#author}}

				                <div class="author-wrap">

				                	{{#if image}}
					                	<span class="author-avatar" style="background-image: url({{image}})"></span>
				                	{{/if}}

				                	<div class="author-bio">

				                        <h6><a href="{{url}}">{{name}}</a></h6>
										<a href="/blog/reseaux-sociaux-de-pascal-andy/"><img src="/blog/content/images/2014/11/pascal-andy-restons-connectes-c.png" alt="pascal-andy-restons-connectes" width="285"></a>
										
										<!-- Footer Pascal Custom 2014-11-04_20H34 -->

				                        <p>{{bio}}, les curieux et les <a href="/blog/lekt-le-lecteur/">Lekt</a> qui désirent une meilleure relation avec les technologies. J’aime me questionner et comprendre comment nos relations avec les technologies impactent nos vies. J’ai aussi tendance à vous tutoyer et <a href="/blog/pourquoi-jaime-vous-tutoyer/">voici pourquoi</a> j’aime le faire.</p>

										<p>Pour recevoir les plus récents articles publiés sur le blog, laisse-moi ton courriel. Je te promets deux choses. Aucun spam de mauvais goût et seulement du contenu pertinent. Cheers!</p>

										<p><a href="https://pascalandy.com/blog/souscrire-au-blog-de-pascal-andy/" target="_blank" class="ghost-btn">Souscrire au blog</a></p>


				                    </div><!-- close class="author-bio" -->

				                </div><!-- close class="author-wrap" -->

								{{/author}}
				            {{/if}}


			            {{>disqus }}


		{{/post}}


			        	</div><!-- close class="wrapper -->
			        	

			    	</div><!-- close class="wrapper -->

			    </div><!-- close class="z-wrap" -->

	</article>

</section>
