{{!< default}}

<header id="post-header" {{#if @blog.cover}}style="background-image: url(http://zippo.qiniudn.com/cover/wallpaper_1923233.jpg)"{{/if}}  data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
	<a href="/" id="blog-title">{{@blog.title}}</a>
	{{> links}}

	<div class="cf"></div>

	{{#post}}

	<div id="title">
		<h1>{{title}}</h1>
		<h2>{{date published_at format="MMMM DD, YYYY"}}</h2>
	</div>
</header>

<div class="container" id="content" role="main">

    <article class="{{post_class}}" id="post-{{id}}">
		{{content}}
    </article>



<section class="post-content">
	<section class="share">
		<h4>分享一下</h4>
		<div class="share-icons">
			<a class="icon-share" href="http://service.weibo.com/share/share.php?url={{url absolute="true"}}&title={{encode (excerpt words="14")}}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
			<span class=""><i class="iconfont icon-weibo">&#x3432;</i></span>
			</a>

			<a class="icon-share" href=" http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?desc={{encode (excerpt words="14")}}&url={{url absolute="true"}}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
			<span class=""><i class="iconfont icon-qzone">&#xe60d;</i></span>
			</a>

			<a class="icon-share" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
			<span class=""><i class="iconfont  icon-twitter">&#xe763;</i></span>
			</a>

			<a class="icon-share" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
			<span class=""><i class="iconfont  icon-facebook">&#x3433;</i></span>
			</a>

			<a class="icon-share icon-weibo" href="https://plus.google.com/share?url={{url absolute="true"}}"
			onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
			<span class=""><i class="iconfont  icon-weixin">&#x3434;</i></span>
			</a>
		</div>
	</section>

	<section class="author">
		{{#if author.image}}
		<a href="/" class="post-author-avatar">
		<img src="{{author.image}}" alt="{{author.name}}">
		</a>
		{{/if}}

		<h4>招牌疯子</h4>
		{{!--
		<p>{{author.bio}}</p>
		--}}
		<p>Coder, OpenSource, DataStorageEngeneer. Work@Sina</br>
		开源爱好者，zimg作者，大规模数据存储工程师。</p>
	</section>
</section>


<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{id}}" data-title="{{title}}" data-url="{{url}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"zippo"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0]
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
<!-- 多说公共JS代码 end -->

	{{/post}}
    </article>
</div>

