<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}

    {{! Page Meta }}
    <meta charset="UTF-8" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://pascalandy.com/blog/favicon.ico" type='image/x-icon' />

    {{! Styles'n'Scripts }}

    <link href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic%7CLato:900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

	<!--Font Awesome Icons Widget> -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    

    
    <!-- Go to www.addthis.com SSL to customize your tools -->
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54483740452f0804" async="async"></script>

    <!--Sublimevideo Widget> -->
    <script type="text/javascript" src="//cdn.sublimevideo.net/js/szr1pf09.js" async="async"></script>

    <!--Google Webmaster Widget> -->    
    <meta name="google-site-verification" content="6SP5stjcR2j9Cy3jT_3Sd6YqvO0pYcLpTUK75ca_4RM" async="async"/>

    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("7ecc09d724be5d5561ab6ea946003143");</script><!-- end Mixpanel -->
    
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" id="lt-ie9-css"  href="{{asset "css/ie.css"}}" type="text/css" media="screen" />
    <![endif]-->

    <!--Ghost outputs important style and meta data with this tag -->
    {{>analytics }}

    {{ghost_head}}
</head>
<body class="{{body_class}}">



    <div class="wrap animated fadeIn">



        <header class="header">



            <div class="logo">



            {{#if @blog.logo}}

                <a id="blog-logo" href="{{@blog.url}}"><img id="logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" /></a>

            {{else}}

                <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>

				<div class="blog-tagline"><a href="{{@blog.description}}">{{@blog.description}}</a></div>

			{{/if}}



			</div>



			<a id="menu-control" href="#nav" title="Menu">Menu</a>



		</header>



		{{>navigation }}




    {{! Everything else gets inserted here }}
    {{{body}}}



    <footer class="footer">

        <div class="wrapper">

        	{{>footer }}

        </div>

    </footer>





 </div>{{! wrap close }}



    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}



    {{! The main JavaScript files }}

    <script src="{{asset "js/plugins.min.js"}}"></script>

    <script src="{{asset "js/scripts.min.js"}}"></script>



    <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>

    <script>

    	jQuery(function() {

    	    WebFont.load({

    	        custom: {

    	            families: ['LeagueGothicRegular'], // font-family name

    	            urls : ['{{@blog.url}}/assets/webfonts/leaguegothic.css'] // URL to css

    	        },

    	        active: function() {

    	            jQuery('.slab h1').slabText({  "viewportBreakpoint":300 });

    	        }

    	    });

    	});



    	var siteUrl = '{{@blog.url}}';



    </script>


</body>
</html>
