<a id="mobile-menu" href="#mobile"><i class="fa fa-bars"></i></a>
<header id="logo" class="page-wrap">
    {{#if @blog.logo}}
    	<a id="logo-image" href="{{@blog.url}}">
    		<img src="{{@blog.logo}}" alt="{{@blog.title}} - {{@blog.description}}" />

    	</a>
    	<h2 class="blog-desc">
	    	<a href="{{@blog.url}}">{{@blog.description}}</a>
	    </h2>
    {{else}}
	    <h1 class="blog-title">
	    	<a href="{{@blog.url}}">{{@blog.title}}</a>
	    </h1>
	    <h2 class="blog-desc">
	    	<a href="{{@blog.url}}">{{@blog.description}}</a>
	    </h2>
    {{/if}}

    <div class="twelve columns"> 
		 <nav class="desktop-menu">
		     <ul class="sf-menu navigation sf-js-enabled sf-arrows">
		       {{navigation}}
		    </ul>
		</nav>
	</div>

	

	<div id="sidr" class="sidr left" style="display: none; left: 0px;">
	  
	    	    {{navigation}}
      
    </div>
</header>